body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.boitier {
  background: #696bdd;
  border-radius: 12px;
  border: #000 1px solid;
  box-shadow: rgba(0, 0, 0, .5) 10px 10px 10px;
  color: #1f1297;
  padding: 25px;
  width: 20em;
}

#ecran {
  background: rgb(146, 218, 208);
  border-radius: 6px;
  border: 1px solid black;
  font-family: monospace;
  font-size: 2.2em;
  padding: 10px;
  text-align: right;
}

.buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.buttons button {
  height: 3em;
  flex-grow: 1;
  flex-basis: 25%;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2em;
  font-family: monospace;
}

.buttons button:active {
  background: rgb(160, 160, 160);
}

.buttons button.large {
  flex-basis: 50%;
}